body.dark-mode {
  background-color: #222;
  color: rgb(245, 245, 245);
  transition: background-color .25s, color .25s;
}

body.light-mode {
  background-color: rgb(255, 253, 253);
  color: #222;
  transition: background-color .25s, color .25s;
}

#top {
  display: flex;
  justify-content: space-between;
  margin: 25px auto 0 auto;
  vertical-align: center;
}

#top > div > a {
  margin: 0 20px;
}

#about {
  font-size: 32px;
  font-weight: 600;
  line-height: 1em;
  padding: 200px 0 100px 0;
}


a.name {
  font-size: 15px;
}

.cathimn,
.name {
  cursor: pointer;
  font-size: 50px;
  font-weight: 900;
  color: #ff81ab;
}

.cathimn {
  transition: color .25s;
}

.notcathimn {
  transition: opacity .25s;
}

.notcathimn.hidden {
  transition: opacity .25s;
  opacity: .25;
}

#mode {
  margin: 0;
  padding: 0 10px;
  height: auto;
  border-color: #ff81ab;
  color: #ff81ab;
  width: 45px;
  font-size: 20px;
}

#links > a {
  font-size: 30px;
  margin-right: 25px;
}

#links, #projects {
  font-size: 20px;
  margin: 50px 0;
}

.project-card {
  display: flex;
  font-size: 14px;
}
